<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/cover.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Новый Сайт... очень интересный.</title>
</head>

<body class="text-center">
    <!-- Навигация -->




    <main role="main" class="inner cover">
        <nav class="navbar fixed-top navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Скоро открытие Сайта</span>
        </nav>