<% include ./layout/header.ejs %>

	<div class="sss">
		<div class="inner1">

			<h1 class="cover-heading">Скоро открытие то что никто не ждал</h1>
			<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen
				background photo to make it your own.</p>
			<p class="lead">
				<a href="#" class="btn btn-lg btn-secondary">ЖДУ уже
					<%=count.number%>
				</a>
			</p>
		</div>
	</div>

	<!--
	<div><img src="./move/photo_2018-06-06_10-27-58.jpg" alt=""></div>
-->

	<% include ./layout/footer.ejs %>